body{
  font-family:Arial, Sans-Serif;
  background: #beed80;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container{
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

 label{
   display: block;
   font-size: 14px;
   font-weight: bold;
   color: #000;
   margin-bottom: 6px;
 }
 input[type="number"]{
   width: 94px;
   border: 1px solid #ccc;
   border-radius: 6px;
   font-size: 14px;
 }
 
 button{
   width: 100px;
   padding: 10px;
   background-color: #007bff;
   border: none;
   color: white;
   font-size: 16px;
   border-radius: 6px;
   cursor: pointer;
 }
 
 button:hover{
   background-color: #0056b3;
 }
 
 .resultado{
   margin-top: 25px;
   padding: 15px;
   background-color: #e9f7ef;
   border: 1px;
   border-radius: 6px;
   color: #155724;
   font-size: 18px;
   text-align: center;
 }
 
 